<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oy.demo.dao.MemberMapper" >
    <resultMap id="BaseResultMap" type="com.oy.demo.entity.Member" >
        <id column="memberid" property="memberid" jdbcType="INTEGER" />
        <result column="addid" property="addid" jdbcType="INTEGER" />
        <result column="nickname" property="nickname" jdbcType="VARCHAR" />
        <result column="truename" property="truename" jdbcType="VARCHAR" />
        <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
        <result column="sex" property="sex" jdbcType="CHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        memberid, addid, nickname, truename, birthday, sex
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from member_info
        where memberid = #{memberid,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from member_info
        where memberid = #{memberid,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.oy.demo.entity.Member" >
        insert into member_info (memberid, addid, nickname,
        truename, birthday, sex
        )
        values (#{memberid,jdbcType=INTEGER}, #{addid,jdbcType=INTEGER}, #{nickname,jdbcType=VARCHAR},
        #{truename,jdbcType=VARCHAR}, #{birthday,jdbcType=TIMESTAMP}, #{sex,jdbcType=CHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.oy.demo.entity.Member" >
        insert into member_info
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="memberid != null" >
                memberid,
            </if>
            <if test="addid != null" >
                addid,
            </if>
            <if test="nickname != null" >
                nickname,
            </if>
            <if test="truename != null" >
                truename,
            </if>
            <if test="birthday != null" >
                birthday,
            </if>
            <if test="sex != null" >
                sex,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="memberid != null" >
                #{memberid,jdbcType=INTEGER},
            </if>
            <if test="addid != null" >
                #{addid,jdbcType=INTEGER},
            </if>
            <if test="nickname != null" >
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="truename != null" >
                #{truename,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null" >
                #{birthday,jdbcType=TIMESTAMP},
            </if>
            <if test="sex != null" >
                #{sex,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.oy.demo.entity.Member" >
        update member_info
        <set >
            <if test="addid != null" >
                addid = #{addid,jdbcType=INTEGER},
            </if>
            <if test="nickname != null" >
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="truename != null" >
                truename = #{truename,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null" >
                birthday = #{birthday,jdbcType=TIMESTAMP},
            </if>
            <if test="sex != null" >
                sex = #{sex,jdbcType=CHAR},
            </if>
        </set>
        where memberid = #{memberid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.oy.demo.entity.Member" >
        update member_info
        set addid = #{addid,jdbcType=INTEGER},
        nickname = #{nickname,jdbcType=VARCHAR},
        truename = #{truename,jdbcType=VARCHAR},
        birthday = #{birthday,jdbcType=TIMESTAMP},
        sex = #{sex,jdbcType=CHAR}
        where memberid = #{memberid,jdbcType=INTEGER}
    </update>
</mapper>